*{
    margin: 0px;
    padding: 0px;
}
.SignInbody{
    background-image: url('FormBg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.SignInMainContainer{
    justify-content: center;
}
.SignInBody-1{
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    border: 5px solid #ffc107;
    /* opacity: 0.9; */
    margin-left: 860px;
    padding: 50px;
}
.SignInBody-Field1{
    height: 50px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;
}
.SignInBody-Field1 label{
    font: 1em sans-serif;
    font-weight: bolder;
}
.SignInBody-Field1 input{
    box-sizing: border-box;
    width: 300px;
}
.SignInBody-button1 {
    height: 50px;
    width: 300px;
    margin-top: 50px;
    margin-left: 40px;
}
.SignInBody-button1 button{
    box-sizing: border-box;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(33, 124, 221);
    color: white;
}
.SignInBody-button2 {
    height: 50px;
    width: 300px;
    margin-top: 20px;
    margin-left: 40px;
}
.SignInBody-button2 button{
    box-sizing: border-box;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(33, 124, 221);
    color: white;
}
.SignInBody-text{
    margin-left: 40px;
    margin-top: 20px;
    font: 1em sans-serif;
    font-weight: bold;
}
